.new-item-container {
  background-color: #dbeafe;
  display: flex;
  flex-direction: row;
  font-size: 10px;
  font-weight: 300px;
  font-size: Bree serif;
  margin: 10px;
  align-items: center;
  width: 100px;
  border-radius: 5px;
  border: 0px;
}
.add-new-image {
  height: 20px;
  margin-right: 10px;
  margin-left: 10px;
}
